@use "../variables.module"

.container
  background: rgba(255, 255, 255, 0)
  border: none
  display: grid
  grid-template-rows: auto 1fr auto
  grid-template-columns: 1fr
  cursor: pointer
  width: 100%
  height: 100%
  margin: 0
  padding: variables.$unit 0
  font-family: inherit
  position: relative

  &:before
    position: absolute
    content: ""
    top: variables.$unit * 3
    bottom: variables.$unit * 3
    left: variables.$unit * 1.5
    right: variables.$unit * 1.5
    background: rgba(255, 255, 255, 0.1)
    border-radius: 50%
    transition: all 400ms variables.$bezier 0s
    transform: scale(1)
    animation: 1200ms variables.$bezier 0ms 1 normal grow

  .title
    align-self: center
    text-align: center
    font-style: italic
    font-weight: 400
    font-size: 44px
    line-height: 67px
    letter-spacing: 0
    filter: blur(0)
    opacity: 1
    transition: all 400ms variables.$bezier 0s
    animation: 1200ms variables.$bezier 0ms 1 normal unblur
    leading-trim: both
    text-edge: cap

  .topText
    text-align: left

  .bottomText
    text-align: right

  .topText, .bottomText
    opacity: 0.5
    transition: all 400ms variables.$bezier 0s
    animation: 1200ms variables.$bezier 0ms 1 normal show


  &:hover

    &:before
      background: rgba(255, 255, 255, 0.2)
      transition: all 200ms variables.$bezier 0s
      top: 0
      left: 0
      bottom: 0
      right: 0
      border-radius: 0

    .title
      letter-spacing: variables.$unit / 2
      transition: all 600ms variables.$bezier 0ms


    .topText, .bottomText
      opacity: 0.7
      letter-spacing: 1px
      transition: all 200ms variables.$bezier 0s

  &.hide

    &:before
      transform: scale(0)
      animation: none
      transition-duration: 600ms

    .title
      opacity: 0
      filter: blur(variables.$unit * 2)
      letter-spacing: variables.$unit * 2 !important
      transition-duration: 600ms

    .topText, .bottomText
      opacity: 0
      transition-duration: 600ms


@keyframes grow
  from
    transform: scale(0)
  to
    transform: scale(1)


@keyframes show
  from
    opacity: 0
  to
    opacity: 0.5


@keyframes unblur
  from
    opacity: 0
    filter: blur(24px)
  to
    opacity: 1
    filter: blur(0)