@use "../../variables.module"

.page
  padding-top: variables.$page-content-x-offset

  @media only screen and (max-width: variables.$breakpoint-mobile)
    padding-top: variables.$page-content-x-offset-mobile



.titleGrid
  position: fixed
  top: variables.$unit * 8
  left: 0
  z-index: 3

.cover
  position: fixed !important
  top: 50%
  right: 50%
  transform: translate(50%,-50%) skew(0.001deg)
  width: variables.$circle-size
  height: variables.$circle-size
  aspect-ratio: 1 / 1
  object-fit: cover !important
  z-index: 2
  border-radius: 50%
  filter: saturate(0)
  mix-blend-mode: soft-light
  pointer-events: none

  @media only screen and (max-width: variables.$breakpoint-mobile)
    width: variables.$circle-size-mobile
    height: variables.$circle-size-mobile

