@use "../../variables.module"

.page
  padding-top: variables.$page-content-x-offset !important
  position: relative
  z-index: 2

  @media only screen and (max-width: variables.$breakpoint-tablet)
    padding-top: variables.$page-content-x-offset-mobile !important

.titleGrid
  position: fixed
  top: variables.$unit * 8
  left: 0
  z-index: 3

.cover
  position: fixed !important
  top: 50%
  right: 50%
  transform: translate(50%,-50%) skew(0.001deg)
  width: variables.$circle-size
  height: variables.$circle-size
  aspect-ratio: 1 / 1
  object-fit: cover !important
  z-index: 2
  border-radius: 50%
  filter: saturate(0)
  mix-blend-mode: soft-light
  pointer-events: none

  @media only screen and (max-width: variables.$breakpoint-tablet)
    width: variables.$circle-size-mobile
    height: variables.$circle-size-mobile

.header
  align-items: start

  @media only screen and (max-width: variables.$breakpoint-mobile)
    padding: 0 10vw
    grid-template-columns: repeat(4, 1fr)
    grid-row-gap: variables.$unit

.description
  grid-column-end: span 3


  span
    @include variables.body-bold
    color: variables.$white
    width: 100%

  @media only screen and (max-width: variables.$breakpoint-mobile)
    grid-column: 1  / span 4
    grid-row: 1 / 1

    span
      word-break: normal

.year
  @media only screen and (max-width: variables.$breakpoint-mobile)
    grid-row-start: 2
    grid-column: 3 / span 2
    justify-content: flex-end

.client
  @media only screen and (max-width: variables.$breakpoint-mobile)
    grid-row: 2
    grid-column: 1 / span 2
    justify-content: flex-start

.title
  @include variables.body-bold
  color: variables.$white

.info
  margin: variables.$unit * 6 0
  align-items: start

  @media only screen and (max-width: variables.$breakpoint-mobile)
    margin: variables.$unit * 4 0
    padding: 0 10vw
    grid-template-columns: repeat(4, 1fr)
    grid-row-gap: variables.$unit * 2

    *
      text-align: left
      justify-content: start
      align-items: start
      word-break: normal !important

.briefTitle, .brief
  grid-row-end: span 2


.brief span
  text-align: left
  word-break: normal

.grid2
  grid-template-columns: repeat(2, 1fr)
  grid-column-end: span 2
  grid-column-start: 3

.type
  grid-row-start: 2
  align-self: end

.nextProjectContainer
  width: 100%
  @include variables.flex-center

.nextProjectButton
  border: 1px solid variables.$off-white
  height: 20vw
  width: 20vw
  border-radius: 50%
  @include variables.flex-center
  flex-direction: column
  gap: variables.$unit
  margin-top: variables.$unit * 10
  position: relative

  &:after
    content: ""
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    background: variables.$white
    border-radius: 50%
    transform: scale(0)
    transition: transform 0.6s variables.$bezier 0s
    z-index: 2

  &:hover:after
    transform: scale(1)
    transition-duration: 0.3s

  & *
    opacity: 0.7
    mix-blend-mode: difference
    position: relative
    transform: translateZ(0)
    z-index: 3

  .nextProjectTitle
    @include variables.title-small
    color: variables.$white
    opacity: 1

@media only screen and (max-width: variables.$breakpoint-tablet)
  .nextProjectButton
    width: 25vw
    height: 25vw

@media only screen and (max-width: variables.$breakpoint-mobile)
  .briefTitle
    grid-row: 1 / span 1

  .brief
    grid-column: 2 / span 3
    grid-row: 1 / span 1

  .grid2
    grid-column: 1 / span 4
    grid-template-columns: 1fr 3fr

  .nextProjectButton
    width: 40vw
    height: 40vw

