@use "../variables.module"

.page
  position: relative
  padding-top: variables.$page-content-x-offset

.titleGrid
  position: absolute
  top: variables.$unit * 8
  left: 0

.workGrid
  background: red