.character
  display: inline
  white-space: pre-wrap

.text
  display: inline-block

.textLine
  display: inline-block
  user-select: none
  overflow: hidden
  transition: all 300ms v.$bezier 0s
  @include v.text-line-sizing
  background: v.$w0
  border: 1px solid v.$w0
  // outline-offset: -1px

  &.textLineActive
    background: v.$white
    color: v.$black
    white-space: pre

    *
      color: v.$black
      white-space: pre

  &.textLineHovering
    border-color: v.$w50
