@use "variables.module"

.page
  display: flex
  flex-direction: column
  justify-content: flex-end
  align-items: center
  gap: variables.$unit * 2

.percentage
  @include variables.body-bold
  color: variables.$white