@use "variables.module"

$circle-size: calc(100vw / 5 * 2)
$circle-x-offset: calc((100vh - $circle-size) / 2)
$description-x-offset: calc($circle-size + $circle-x-offset + 3 * variables.$unit)

.infoRow
  width: 100%
  position: fixed
  top: $description-x-offset
  left: 0
  right: 0

.description
  grid-column-end: span 3
  @include variables.flex-center
