@use 'variables.module'

*
  margin: 0
  padding: 0
  box-sizing: border-box
  text-decoration: none
  color: variables.$off-white

body
  background: variables.$black

p, span
  @include variables.body