@use 'variables.module'

*
  margin: 0
  padding: 0
  box-sizing: border-box
  text-decoration: none
  color: variables.$white

body
  background: variables.$black
  overflow: hidden


::-webkit-scrollbar
  width: 6px
  height: 6px
  background: none

  &:horizontal
    display: none

p, span
  @include variables.body


::-webkit-scrollbar-track
  background: none
  display: none

::-webkit-scrollbar-track-piece
  background: none

::-webkit-scrollbar-thumb
  background-color: variables.$dark-grey