
.bodyOverlay
  @include v.Overlay
  inset: 0 !important
  background: v.$background
  animation: fade-in-background 1200ms v.$bezier 600ms forwards

  &.hide
    background: v.$off-white
    animation: fade-out-background 300ms v.$bezier 300ms forwards

.main
  @include v.Overlay
  background: v.$background
  animation: fade-in-background 1200ms v.$bezier 600ms forwards
  --right-column: 9
  --row-count: 9

  &.hide
    background: v.$off-white
    animation: fade-out-background 300ms v.$bezier 300ms forwards
