@use "../variables.module"

.main
  @include variables.Overlay
  background: variables.$background

  .line
    pointer-events: none

  @media only screen and (max-width: variables.$breakpoint-tablet)
    grid-template-rows: repeat(auto-fill, calc((100vh) / 12))
    grid-auto-rows: calc((100vh - variables.$unit * 4) / 12)
    overflow-y: auto
    bottom: 0
    top: 0
    padding: variables.$unit * 2 0

  @media only screen and (max-width: variables.$breakpoint-mobile)
    padding: variables.$unit 0

.leftContent
  //border: 1px solid variables.$w50
  position: relative
  grid-row: 1 / -1
  grid-column: 1 / span 9
  @include variables.flex-center
  justify-content: flex-end
  flex-direction: column
  padding: variables.$unit

  @media only scren and (min-width: variables.$breakpoint-tablet)
    border-bottom-left-radius: variables.$unit * 3

  @media only screen and (max-width: variables.$breakpoint-tablet)
    grid-column: 1 / -1
    grid-row-end: -3

.contactsContainer
  @include variables.flex-center
  gap: variables.$unit * 3

  .contactLink
    color: variables.$white
    font-size: 1.25rem
    line-height: 123.1%
    @include variables.flex-center
    gap: variables.$unit / 2
    position: relative
    font-style: italic

    &:after
      position: absolute
      bottom: -1px
      left: 0
      right: 0
      content: ""
      height: 1px
      background: variables.$white
      transform-origin: center right
      transition: transform 600ms variables.$bezier
      transform: scaleX(0)

    &:hover:after
      transform-origin: center left
      transition: transform 400ms variables.$bezier
      transform: scaleX(1)

    *
      text-transform: capitalize
      font-size: 1.25rem
      line-height: 123.1%
      transition: all 600ms variables.$bezier 0s

    &:hover *
      letter-spacing: 2px
      transition-duration: 400ms

.brandingImg
  position: absolute
  transform: translate(50%,-50%) skew(0.001deg)
  width: 30vw !important
  height: auto !important
  inset: unset !important
  top: 50% !important
  right: 50% !important
  z-index: 1

  &:first-child
    mix-blend-mode: overlay
    z-index: 10

.spacer
  opacity: 0
  user-select: none
  pointer-events: none

.corner
  grid-row: 1 / 3
  grid-column: 1 / 2
  display: grid
  grid-template-rows: repeat(2, 1fr)
  grid-template-columns: auto
  width: max-content

  .logoContainer
    grid-row: 1 / 1
    grid-column: 1 / 1
    @include variables.flex-center

    img
      transform: scale(1)
      transition: transform 400ms variables.$bezier 200ms

    &.hide img
      transform: scale(0)

  .lineRight, .lineFarRight
    grid-row: 1 / span 1
    grid-column: 1 / span 1
    @include variables.lineY

    @media only screen and (max-width: variables.$breakpoint-mobile)
      grid-row-end: -3

  .lineRight, .lineFarRight
    border-right: 1px solid variables.$w50

  .lineFarRight
    margin-right: -7px

  .lineLogoTop, .lineLogoBottom
    grid-row: 1 / span 1
    grid-column: 1 / span 1
    @include variables.lineX
    margin-right: -7px

  .lineLogoTop
    border-top: 1px solid variables.$w50
    @include variables.lineX

  .lineLogoBottom
    border-bottom: 1px solid variables.$w50
    @include variables.lineX

.lineLeft
  border-left: 1px solid variables.$w50
  grid-row: 1 / -1
  grid-column: 1 / span 1
  @include variables.lineY
  border-bottom-left-radius: variables.$unit * 3

  @media only screen and (max-width: variables.$breakpoint-tablet)
    border-bottom-left-radius: 0
    grid-row-end: 10

  @media only screen and (max-width: variables.$breakpoint-mobile)
    grid-row-end: 13

.lineBottomLeft
  border-bottom: 1px solid variables.$w50
  grid-row: -2 / -1
  grid-column: 1 / span 9
  margin-right: variables.$unit / 2
  @include variables.lineX
  transform-origin: left center
  border-bottom-left-radius: variables.$unit * 3

  @media only screen and (max-width: variables.$breakpoint-tablet)
    grid-row: 9 / 10
    grid-column: 1 / -1
    border-bottom-left-radius: 0
    margin-right: 0

.lineTopLeft
  border-top: 1px solid variables.$w50
  grid-row: 1 / span 1
  grid-column: 1 / span 9
  border-bottom-left-radius: variables.$unit * 3
  margin-right: variables.$unit / 2
  @include variables.lineX
  transform-origin: left center

  @media only screen and (max-width: variables.$breakpoint-tablet)
    grid-column-end: -1
    margin-right: 0


.lineCenterLeft
  border-right: 1px solid variables.$w50
  grid-column: 9 / span 1
  grid-row: 1 / -1
  margin-right: variables.$unit / 2
  @include variables.lineY
  transform-origin: top center

  @media only screen and (max-width: variables.$breakpoint-tablet)
    grid-row-end: 10
    grid-column: -2 / -1
    margin-right: 0

.sideScroller
  grid-column: 10 / -1
  grid-row: 1 / -1
  margin-left: variables.$unit / 2
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: auto auto 1fr
  gap: variables.$unit
  overflow-y: auto

  @media only screen and (max-width: variables.$breakpoint-tablet)
    grid-column: 1 / -1
    grid-row: 10 / span 7
    overflow-y: visible
    margin-top: variables.$unit * 2
    margin-left: 0

.manifesto
  grid-column: 1 / -1
  grid-row: 1 / span 1
  display: flex
  flex-direction: column
  gap: variables.$unit * 2
  position: relative
  padding-bottom: variables.$unit * 2

  .manifestoTitle
    width: 100%

  .manifestoText
    width: 100%

  .lineManifestoLeft
    position: absolute
    inset: 0
    right: unset
    border-left: 1px solid variables.$w50
    @include variables.lineY
    transform-origin: top center

  .lineManifestoRight
    position: absolute
    inset: 0
    left: unset
    border-left: 1px solid variables.$w50
    @include variables.lineY
    transform-origin: top center

  .lineManifestoBottom
    position: absolute
    inset: 0
    top: unset
    border-bottom: 1px solid variables.$w50
    @include variables.lineX
    transform-origin: center left


.skills
  display: grid
  grid-template-columns: repeat(2, 1fr)
  grid-template-rows: repeat(4, 1fr)
  gap: variables.$unit

  @media only screen and (max-width: variables.$breakpoint-tablet)
    grid-template-rows: repeat(2, 1fr)
    grid-template-columns: repeat(4, 1fr)

  @media only screen and (max-width: variables.$breakpoint-tablet)
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: repeat(4, 1fr)

.skillCard
  background: variables.$w0
  display: flex
  flex-direction: column
  align-items: center
  padding: variables.$unit / 2
  border: 1px solid variables.$w50
  gap: variables.$unit
  min-height: calc(max-content + variables.$unit * 2)
  transition: all 400ms variables.$bezier 0s

  &:hover:not(.hide)
    transition-duration: 150ms
    background: variables.$w10

  &:first-child, &:nth-child(2n+1)
    border-top-right-radius: variables.$unit
    border-bottom-right-radius: variables.$unit

  &:nth-child(2n)
    border-top-left-radius: variables.$unit
    border-bottom-left-radius: variables.$unit

    &:last-child
      border-bottom-right-radius: variables.$unit * 3
      @media only scren and (max-width: variables.$breakpoint-tablet)
        border-bottom-right-radius: 0


  &:first-child, &:nth-child(2)
    border-top-left-radius: 0
    border-top-right-radius: 0

  .skillLogoContainer
    flex: 1
    @include variables.flex-center

  &.hide
    background: red