@use "../../variables.module"

.main
  @include variables.Overlay

  .line
    pointer-events: none

.leftContent
  grid-column: 1 / span 3
  grid-row: 1 / -1
  display: grid
  grid-template-columns: auto 1fr
  grid-template-rows: repeat(12, 1fr)
  grid-column-gap: variables.$unit / 2


  .leftColumn
    grid-column: 1 / span 1
    grid-row: 1 / -1
    display: grid
    grid-template-rows: repeat(12, 1fr)

    .leftColumnSpacerContainer
      padding: 0 0.75 * variables.$unit
      opacity: 0
      pointer-events: none


    .logoContainer
      @include variables.flex-center
      grid-row: 1 / 1
      border-top: 1px solid variables.$w50
      margin-right: -7px // needed to bring top border over to second vertical line
      padding-right: 7px // keep logo centered in its container
      background: transparent

      &:hover
        background: rgba(255, 255, 255, 0.1)

      &.hide
        border-color: transparent
        background: transparent !important

  .rightColumn
    grid-column: 2 / span 1
    grid-row: 1 / -1


// project info

.projectInfo
  grid-column: 2 / -2
  grid-row: 1 / span 1
  display: flex
  gap: variables.$unit * 2
  padding: variables.$unit 0
  align-items: flex-end

  .projectInfoBlock
    display: flex

    span:last-child
      margin-left: -1px // hide transparent left outline

      *
        @include variables.body-bold

// overlay lines


.leftContentLeftLine
  grid-column: 1 / span 1
  grid-row: 1 / -1
  border-right: 1px solid variables.$w50
  border-left: 1px solid variables.$w50
  @include variables.lineY

.leftContentRightLine
  grid-column: 2 / span 1
  grid-row: 1 / -1
  border-left: 1px solid variables.$w50
  @include variables.lineY

.leftContentHorizontalTopLine
  grid-column: 1 / span 1
  grid-row: 6 / span 1
  @include variables.lineX
  border-bottom: 1px solid variables.$w50


.lineTop
  grid-column: 1 / -1
  grid-row: 2 / span 1
  border-top: 1px solid variables.$w50
  @include variables.lineX

.lineRight
  border-right: 1px solid variables.$w50
  grid-column: -2 / -1
  grid-row: 1 / -1
  @include variables.lineY

.rightContentLineLeft
  border-left: 1px solid variables.$w50
  grid-column: 1 / -1
  grid-row: 1 / -1
  @include variables.lineY


// media selection and close button

.pageRight
  grid-column: -2 / -1
  grid-row: 1 / -1
  display: grid
  justify-self: end
  grid-template-rows: repeat(12, 1fr)

.mediaSelector
  grid-row: 2 / -1
  display: flex
  flex-direction: column
  gap: variables.$unit / 2
  padding: variables.$unit / 3

  .arrowContainer
    @include variables.flex-center
    background: none
    cursor: pointer
    padding: variables.$unit / 2
    border: 1px solid transparent


    &:first-child
      padding-bottom: variables.$unit

    &:last-child
      padding-top: variables.$unit

    &:hover
      // border-color: variables.$w50
      background: variables.$w10

  .mediaSelectButton
    border: 1px solid variables.$w50
    padding: variables.$unit / 2 variables.$unit * 0.75
    background: transparent
    display: flex
    flex-direction: column
    justify-content: flex-end
    flex: 1
    transition: all 300ms variables.$bezier 0s


    &.active
      flex: 2
      background: variables.$w10
      border-color: variables.$white

    &:not(.active):hover
      background: variables.$w10


.mediaTitleContainer
  grid-column: 1 / -1
  grid-row: 2 / span 5
  display: flex
  align-items: flex-end
  justify-content: flex-end
  padding: variables.$unit variables.$unit / 2

  span
    transform: rotate(180deg)
    opacity: 0.5
    writing-mode: vertical-lr
    padding: 0
    user-select: none