@use "../../variables.module"

.main
  @include variables.Overlay

  .line
    pointer-events: none

.leftContent
  grid-column: 1 / span 3
  grid-row: 1 / -1
  display: grid
  grid-template-columns: auto 1fr
  grid-template-rows: repeat(12, 1fr)
  grid-column-gap: variables.$unit / 2


  .leftColumn
    grid-column: 1 / span 1
    grid-row: 1 / -1
    display: grid
    grid-template-rows: repeat(12, 1fr)

    .leftColumnSpacerContainer
      padding: 0 0.75 * variables.$unit
      opacity: 0
      pointer-events: none

      @media only screen and (max-width: variables.$breakpoint-tablet)
        padding: 0 variables.$unit / 2


    .logoContainer
      @include variables.flex-center
      grid-row: 1 / 1
      border-top: 1px solid variables.$w50
      margin-right: -7px // needed to bring top border over to second vertical line
      padding-right: 7px // keep logo centered in its container
      background: transparent

      img
        transform: scale(1)
        transition: transform 400ms variables.$bezier 200ms

      &:hover
        background: rgba(255, 255, 255, 0.1)

      &.hide
        border-color: transparent
        background: transparent !important

        img
          transform: scale(0)

// project info

.projectInfo
  grid-column: 2 / -2
  grid-row: 1 / span 1
  display: flex
  gap: variables.$unit * 2
  padding: variables.$unit 0
  align-items: flex-end

  .projectInfoBlock
    display: flex
    @include variables.lineY(600ms)

    & > span:last-child
      margin-left: -1px // hide transparent left outline

    & > span:first-child *
      @include variables.body-bold

    &.hide
      transition: all 300ms variables.$bezier 0s
      opacity: 0
      transform: scaleY(0)

  @media only screen and (max-width: variables.$breakpoint-desktop-small)
    display: grid
    grid-template-rows: repeat(2, max-content)
    grid-template-columns: repeat(2, 1fr)
    row-gap: variables.$unit
    align-self: center

    .projectInfoBlock:nth-child(2)
      grid-column: 1 / span 1
      grid-row: 2 / span 1

  @media only screen and (max-width: variables.$breakpoint-tablet)
    padding: variables.$unit / 2 variables.$unit * 2
    grid-template-columns: repeat(2, max-content)
    row-gap: variables.$unit / 2

  @media only screen and (max-width: variables.$breakpoint-mobile)
    padding: variables.$unit / 2 variables.$unit
    padding-left: variables.$unit * 1.5
    column-gap: variables.$unit
    grid-template-columns: repeat(2, max-content)
    row-gap: variables.$unit / 2
    grid-column-end: -1

  @media only screen and (max-height: variables.$breakpoint-height)
    padding-top: variables.$unit / 2
    padding-bottom: variables.$unit / 2
    row-gap: variables.$unit / 2


// overlay lines

.leftContentLeftLine
  grid-column: 1 / span 1
  grid-row: 1 / -1
  border-right: 1px solid variables.$w50
  border-left: 1px solid variables.$w50
  @include variables.lineY

  @media only screen and (max-width: variables.$breakpoint-tablet)
    border-right-color: transparent

.leftContentRightLine
  grid-column: 2 / span 1
  grid-row: 1 / -1
  border-left: 1px solid variables.$w50
  @include variables.lineY

  @media only screen and (max-width: variables.$breakpoint-tablet)
    grid-row-end: 2
    grid-column: 1 / span 1
    margin-right: -7px
    width: 7px
    justify-self: end
    border-right: 1px solid variables.$w50


.lineAcrossLeft
  grid-column: 1 / span 1
  grid-row: 7 / span 1
  @include variables.lineX
  border-bottom: 1px solid variables.$w50
  height: 50%

  @media only screen and (max-width: variables.$breakpoint-tablet)
    grid-row-start: 6
    grid-column: 1 / -1
    border-color: variables.$w30

.lineAcrossRight
  grid-column: 1 / span 1
  grid-row: 7 / span 1
  @include variables.lineX
  border-bottom: 1px solid variables.$w50
  height: 50%

  @media only screen and (max-width: variables.$breakpoint-tablet)
    display: none




.leftContentVerticalLines
  grid-column: 1 / span 1
  grid-row: -4 / -3
  max-width: 100%
  overflow: hidden
  border-bottom: 1px solid variables.$w50
  @include variables.lineX

  @media only screen and (max-width: variables.$breakpoint-tablet)
    display: none

.lineTop
  grid-column: 1 / -1
  grid-row: 2 / span 1
  border-top: 1px solid variables.$w50
  @include variables.lineX

.lineRight
  border-right: 1px solid variables.$w50
  grid-column: -2 / -1
  grid-row: 1 / -1
  @include variables.lineY

.rightContentLineLeft
  border-left: 1px solid variables.$w50
  grid-column: 2 / -1
  grid-row: 1 / -1
  @include variables.lineY

  @media only screen and (max-width: variables.$breakpoint-tablet)
    display: none

.lineBottom
  border-bottom: 1px solid variables.$w50
  border-top: 1px solid variables.$w50
  grid-column: 1 / -1
  grid-row: -4 / span 1
  height: variables.$unit / 2
  align-self: end
  @include variables.lineX

  @media only screen and (min-width: variables.$breakpoint-tablet)
    display: none

// media selection and close button

.pageRight
  grid-column: -2 / -1
  grid-row: 1 / -1
  display: grid
  grid-template-columns: 1fr auto
  grid-template-rows: repeat(12, 1fr)

  @media only screen and (max-width: variables.$breakpoint-tablet)
    grid-column: 1 / -1
    grid-row: -3 / -1
    display: flex
    justify-self: unset

.mediaSelector
  grid-row: 1 / -1
  display: flex
  flex-direction: column
  gap: variables.$unit / 2
  padding: 0 variables.$unit / 3
  overflow: hidden
  grid-column: 2 / span 1

  @media only screen and (max-width: variables.$breakpoint-tablet)
    grid-row: unset
    flex-direction: row
    flex: 1
    padding: variables.$unit / 2

  @media only screen and (max-width: variables.$breakpoint-mobile)
    overflow-x: auto
    overflow-y: visible


  .arrowContainer
    @include variables.flex-center
    background: none
    cursor: pointer
    padding: variables.$unit / 2
    border: 1px solid transparent
    height: calc(100% / 12)
    margin: 0 variables.$unit / -3

    &:first-child
      padding-bottom: variables.$unit

    &:last-child
      padding-top: variables.$unit

    &:hover
      background: variables.$w10

    &.hide
      transition: all 500ms variables.$bezier 0s
      transform: scale(0) !important

    @media only screen and (max-width: variables.$breakpoint-tablet)
      padding: 0

      img
        transform: rotate(270deg)

      &:first-child, &:last-child
        padding: 0 !important

    @media only screen and (max-width: variables.$breakpoint-mobile)
      display: none


  .mediaSelectButton
    border: 1px solid variables.$w50
    padding: variables.$unit / 2 variables.$unit * 0.75
    background: transparent
    display: flex
    flex-direction: column
    justify-content: flex-end
    align-items: center
    flex: 1
    transition: all 300ms variables.$bezier 0s
    transform: translateX(150%)
    cursor: pointer

    margin-left: variables.$unit

    &:not(.active)
      padding: variables.$unit / 2 variables.$unit * 0.25

    @for $i from 1 through 20
      &:nth-child(#{$i})
        animation: 600ms + $i * 100ms variables.$bezier 300ms + $i * 50ms 1 normal forwards running appearButton

        &.hide
          transform: translateX(0)
          animation-name: hideButton
          animation-duration: 650ms - $i * 50ms
          animation-delay: $i * 75ms
          animation-play-state: running

      @media only screen and (max-width: variables.$breakpoint-tablet)
        animation-name: appearButtonMobile !important
        transform: translateY(150%)
        margin-left: 0

        &:not(.active)
          margin-top: variables.$unit

        &.hide
          transform: translateY(0)
          animation-name: hideButtonMobile !important


    &.active
      flex: 2
      background: variables.$w10
      border-color: variables.$white
      margin-left: 0


    &:not(.active):hover
      background: variables.$w10


.mediaTitleContainer
  grid-column: 1 / -1
  grid-row: 2 / span 5
  display: flex
  align-items: flex-end
  justify-content: flex-end
  padding: variables.$unit variables.$unit / 2
  margin-bottom: calc(100vh / -24)

  @media only screen and (max-width: variables.$breakpoint-tablet)
    align-items: flex-end
    justify-content: flex-start
    grid-row: 7 / span 4
    padding-bottom: variables.$unit * 1.5
    margin-bottom: 0


  & > *
    transform: rotate(180deg)
    opacity: 0.5

  span
    writing-mode: vertical-lr
    padding: 0
    user-select: none


.mediaColorContainer
  grid-column: 1 / -1
  grid-row: -3 / span 2
  display: flex
  align-items: flex-start
  justify-content: flex-end
  padding: variables.$unit variables.$unit / 2

  @media only screen and (max-width: variables.$breakpoint-tablet)
    grid-row-start: 2
    align-items: flex-start
    justify-content: flex-start


  & > *
    transform: rotate(180deg)
    opacity: 0.5

  span
    writing-mode: vertical-lr
    padding: 0
    user-select: none
    max-width: max-content
    max-height: max-content


.descriptionContainer
  grid-column: 2 / -2
  grid-row: -2 / span 1
  @include variables.flex-center
  align-items: flex-end
  padding-bottom: variables.$unit
  text-align: center

  @media only screen and (max-width: variables.$breakpoint-tablet)
    grid-row-start: -4
    padding-bottom: variables.$unit * 1.25

// animations

@keyframes appearButton
  from
    transform: translateX(150%)

  to
    transform: translateX(0)

@keyframes hideButton
  from
    transform: translateX(0)

  to
    transform: translateX(150%)

@keyframes appearButtonMobile
  from
    transform: translateY(150%)

  to
    transform: translateY(0)

@keyframes hideButtonMobile
  from
    transform: translateY(0)

  to
    transform: translateY(150%)
